<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <springProperty name="APP" source="spring.application.name" defaultValue="app"/>

    <!-- sleuth+zipkin日志输出traceId https://blog.csdn.net/u012394095/article/details/82698442  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <springProfile name="dev">
                <pattern>[%clr(%date{yyyy-MM-dd HH:mm:ss.SSSZ}){yellow}]-[${APP}]-%highlight([%level])-[%clr(%X{X-B3-TraceId:-}){cyan}]-[${PID:-}:%-1.30t] %-40.40logger{39} %clr(:){magenta} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            </springProfile>

            <springProfile name="!dev">
                <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSSZ}]-[${APP}]-[%level]-[%X{X-B3-TraceId:-}]-[${PID:-}:%-1.30t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            </springProfile>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSSZ}]-[${APP}]-[%level]-[%X{X-B3-TraceId:-}]-[${PID:-}:%-1.30t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <!--日志滚动策略，最大index为9，即最多10个文件-->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
            <maxIndex>9</maxIndex>
        </rollingPolicy>
        <!--日志触发触发策略，达到20M进行滚动切分-->
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>